<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.hermesplus.order.mapper.CartInfoMapper">
	
	<select id="selectCarts" resultType="com.shop.hermesplus.order.vo.CartInfoVO">
		SELECT * FROM CART_INFO
	</select>
	
	<select id="selectCart" resultType="com.shop.hermesplus.order.vo.CartInfoVO">
		SELECT * FROM CART_INFO WHERE CI_NUM=#{ciNum}
	</select>
	
	<insert id="insertCart">
		INSERT INTO CART_INFO (UI_NUM)
		VALUES (#{uiNum})
	</insert>
	
	<update id="updateCart">
		UPDATE CART_INFO
		SET UI_NUM = #{uiNum},
			CI_STATUS = #{ciStatus}
		WHERE CI_NUM = #{ciNum}
	</update>
	
	<delete id="deleteCart">
		DELETE FROM CART_INFO WHERE CI_NUM = #{ciNum}
	</delete>

</mapper>