<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.hermesplus.order.mapper.DeliveryComInfoMapper">

	<select id="selectDeliveryComs" resultType="com.shop.hermesplus.order.vo.DeliverycomInfoVO">
		SELECT * FROM DELIVERY_COM_INFO
	</select>
	
	<select id="selectDeliveryCom" resultType="com.shop.hermesplus.order.vo.DeliverycomInfoVO">
		SELECT * FROM DELIVERY_COM_INFO WHERE DCI_NUM = #{dciNum}
	</select>
	
	<insert id="insertDeliveryCom">
		INSERT INTO DELIVERY_COM_INFO (DCI_NAME, DCI_ID)
		VALUES (#{dciName}, #{dciId})
	</insert>
	
	<update id="updateDeliveryCom">
		UPDATE DELIVERY_COM_INFO
		SET DCI_NAME = #{dciName},
			DCI_ID = #{dciId}
		WHERE DCI_NUM = #{dciNum}
	</update>
	
	<delete id="deleteDeliveryCom">
		DELETE FROM DELIVERY_COM_INFO WHERE DCI_NUM = #{dciNum}
	</delete>

</mapper>