<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.hermesplus.order.mapper.PaymentInfoMapper">
	<select id="selectPayinfos" resultType="com.shop.hermesplus.order.vo.PaymentInfoVO">
		SELECT * FROM PAYMENT_INFO
	</select>
	
	<select id="selectPayinfo" resultType="com.shop.hermesplus.order.vo.PaymentInfoVO">
		SELECT * FROM PAYMENT_INFO WHERE PAI_NUM = #{paiNum}
	</select>
	
	<insert id="insertPayinfo">
		INSERT INTO PAYMENT_INFO (OR_NUM, PAI_STATUS, PAI_NAME, PAI_AMOUNT, PAI_METHOD)
		VALUES (#{orNum},#{paiStatus},#{paiName},#{paiAmount},#{paiMethod})
	</insert>
	
	<update id="updatePayinfo">
		UPDATE PAYMENT_INFO
		SET OR_NUM = #{orNum},
			PAI_STATUS = #{paiStatus},
			PAI_NAME = #{paiName},
			PAI_AMOUNT = #{paiAmount},
			PAI_METHOD = #{paiMethod}
		WHERE PAI_NUM = #{paiNum}
	</update>
	
	<delete id="deletePayinfo">
		DELETE FROM PAYMENT_INFO WHERE PAI_NUM = #{paiNum}
	</delete>
</mapper>