@charset "UTF-8";
.margin-top-60 {
    margin-top: 60px !important;
}
.page-side-list{
	margin-top:20px;
}
.page-side-list a{
	display:block;
	padding:12px 0;
}
.page-header{
  width:100%;
}
.flex-center{
  justify-content: center;
}
.w-20p{
  width: 20%;
}
.w-50p{
  width: 50%;
}

.w-80p{
  width: 80%;
}
.left-border{
  border-right: 1px solid var(--border-color);
}
.m-large{
	padding: 30px;
}
.user{
  font-size: 14px;
	
}
dt{
	font-weight:bold;
  color: var(--black-color);
}
dd{
	padding-bottom:10px;
}
.btn-circle{
	border-radius: 50%;
}

.back-color{
	background-color: var(--border-color);
}
.btn-icon{
	overflow:hidden;
}
.btn-icon>span{
  display: inline-block;
	text-indent:-999999px;
}
.btn-50px{
	width:50px;
	height:50px;
	display:block;
}
.relative{
	position:relative;
}
.absolute{
	position:absolute;
	right:0px;
	top:-12px;
}
.icon-pen{
  background-image:url('/static/images/pen.svg');
  background-size:contain;
  display:inline-block;
  width:20px;
  height:20px;
  top:13px;
  left:15px;
  position:relative;
    
}
.space-between{
  justify-content: space-between;
}
.d-block{
	display:block;
}

.user{
  color: var(--gray-color);
}
