<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.hermesplus.product.mapper.ProductMainInfoMapper">

<!-- Select all Product Main Infos -->
    <select id="selectProductMainInfos" resultType="com.shop.hermesplus.product.vo.ProductMainInfoVO">
        SELECT *
        FROM product_main_info
    </select>

    <!-- Select Product Main Info by ID -->
    <select id="selectProductMainInfo" parameterType="int" resultType="com.shop.hermesplus.product.vo.ProductMainInfoVO">
        SELECT *
        FROM product_main_info
        WHERE PMI_ID = #{pmiId}
    </select>

    <!-- Insert Product Main Info -->
    <insert id="insertProductMainInfo">
        INSERT INTO product_main_info (
            PI_ID,
            PMI_DESC
        ) VALUES (
            #{piId},
            #{pmiDesc}
        )
    </insert>

    <!-- Update Product Main Info -->
    <update id="updateProductMainInfo">
        UPDATE product_main_info
        SET
            PI_ID = #{piId},
            PMI_DESC = #{pmiDesc}
        WHERE PMI_ID = #{pmiId}
    </update>

    <!-- Delete Product Main Info by ID -->
    <delete id="deleteProductMainInfo">
        DELETE FROM product_main_info
        WHERE PMI_ID = #{pmiId}
    </delete>




</mapper>