<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.hermesplus.product.mapper.ProductDetailInfoMapper">
<select id="selectProductDetailInfos" resultType="com.shop.hermesplus.product.vo.ProductDetailInfoVO">
SELECT * FROM product_detail_info
</select>
<select id="selectProductDetailInfo" resultType="com.shop.hermesplus.product.vo.ProductDetailInfoVO">
SELECT * FROM product_detail_info WHERE PDI_ID = #{pdiId}
</select>
<insert id="insertProductDetailInfo">
INSERT INTO product_detail_info (PI_ID, PDI_HEIGHT, PDI_SIZE) values (#{piId},#{pdiHeight},#{pdiSize});
</insert>
<update id="updateProductDetailInfo">
UPDATE product_detail_info
SET PI_ID = #{piId},
PDI_HEIGHT = #{pdiHeight},
PDI_SIZE = #{pdiSize}
WHERE PDI_ID = #{pdiId}
</update>
<delete id="deleteProductDetailInfo">
DELETE FROM product_detail_info WHERE PDI_ID = #{pdiId}
</delete> 
</mapper> 