<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.hermesplus.user.mapper.UserInfoMapper">
  <select id="selectEmail">
    SELECT COUNT(1) FROM user_info WHERE UI_EMAIL = #{uiEmail};
  </select>
  <select id="selectUserForLogin">
    SELECT * FROM user_info WHERE UI_EMAIL = #{uiEmail} AND UI_PWD = #{uiPwd};
  </select>
  <insert id="insertUser">
  	INSERT INTO user_info (
  	UI_FIRST_NAME, UI_LAST_NAME, UI_EMAIL, UI_COUNTRY_CODE, 
  	UI_PHONE, UI_PWD, UI_GENDER, UI_BIRTH, 
  	UI_ADDRESS
  	) VALUES (
  	#{uiFirstName},#{uiLastName},#{uiEmail},#{uiCountryCode},
  	#{uiPhone},#{uiPwd},#{uiGender},#{uiBirth},
  	#{uiAddress}
  	);
SELECT LAST_INSERT_ID();
  </insert>
</mapper>