
@import url(https://db.onlinewebfonts.com/c/daf8c1a0f06e7a24d9dca48b9d88dac0?family=Orator+W01+Medium);
@import url(https://db.onlinewebfonts.com/c/25392c1fcb8a06c1f490a0e959a32b03?family=Arial+Unicode+MS);
@font-face {
    font-family: "Arial Unicode MS";
    src: url("https://db.onlinewebfonts.com/t/25392c1fcb8a06c1f490a0e959a32b03.eot");
    src: url("https://db.onlinewebfonts.com/t/25392c1fcb8a06c1f490a0e959a32b03.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/25392c1fcb8a06c1f490a0e959a32b03.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/25392c1fcb8a06c1f490a0e959a32b03.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/25392c1fcb8a06c1f490a0e959a32b03.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/25392c1fcb8a06c1f490a0e959a32b03.svg#Arial Unicode MS")format("svg");
}
@font-face {
    font-family: "Orator W01 Medium";
    src: url("https://db.onlinewebfonts.com/t/daf8c1a0f06e7a24d9dca48b9d88dac0.eot");
    src: url("https://db.onlinewebfonts.com/t/daf8c1a0f06e7a24d9dca48b9d88dac0.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/daf8c1a0f06e7a24d9dca48b9d88dac0.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/daf8c1a0f06e7a24d9dca48b9d88dac0.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/daf8c1a0f06e7a24d9dca48b9d88dac0.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/daf8c1a0f06e7a24d9dca48b9d88dac0.svg#Orator W01 Medium")format("svg");
}
:root {
    --back-color: #f6f1eb;
    --light-back-color: #ffffff80;
    --primary-color: #444;
    --bright-back-color: #fffcf7;
    --warning-color: #9d2a1e;
    --font-size-cta: 14px;
    --border-color: #f6f1eb;
    --dark-border-color:#919191;
    --batang-fontfamily: "바탕체", BatangChe;
    --arial-fontfamily:"Arial unicode MS", "Orator W01", "Gill Sans", "Gill Sans MT", "Calibri", serif,
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--back-color);
    color: #444;
    line-height: 157.1428571429%;
    font-weight: 200;
    overflow-x: hidden;
}

h1,
h2,
h3,h4,h5,h6,h7,h8,h9 {
    font-family: var(--batang-fontfamily);
    font-weight: normal;
}
a{
    text-decoration: none;
    color:#000;
}
dl, ol, ul{
    padding:0;
    margin:0;
}
dt{
    font-weight:normal;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.button-primary {
    background: #444;
    color: #fff;
    text-decoration: none;
    line-height: calc((var(--font-size-cta) * 1.5) - (0 * 2));
}

.button-base {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 9.5px 18px;
    font-family: var(--font-body);
    font-weight: 700;
    position: relative;
    width: auto;
    margin: 0 auto;
    min-width: 15.3846153846rem;
    max-width: 20.7692307692rem;
    font-size: var(--font-size-cta);
}

button,.sb-show-main button,.modal-service button {
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    color: #444;
    display: inline-block;
}

button,html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
    appearance: button;
}



@media (min-width: 768px) {
    .button-base {
        max-width: 24.6153846154rem;
    }
}

.button-primary {
    background: #444;
    color: #fff;
    text-decoration: none;
    line-height: calc((var(--font-size-cta) * 1.5) - (0 * 2));
}
.button-secondary{
    color: #444;
    text-decoration: none;
    background: transparent;
    border: .0769230769rem solid #444;
    line-height: calc((var(--font-size-cta) * 1.5) - (.0769230769rem * 2));
}
.size-medium {
    width: 50%;
    max-width: 18.4615384615rem;
}

.height-normal {
    min-height: 35px;
}

.generic-input-error,
.generic-input-error:hover {
    border-color: #9d2a1e !important;
}

.generic-input {
    font-size: 1rem;
    min-height: 3rem;
    width: 100%;
    color: #444;
    background-color: #fff;
    padding: .3846153846rem .75rem;
    border: 1px solid var(--border-color);
}

.generic-input:focus {
    border: 1px solid var(--warning-color);
    outline: none;
}
.show-in-mobile{
    display: none;
}
.hide-in-mobile{
    display: block;
}.block-text{
    width:100%;
    padding:0 150px;    
}
.block-media{
    width:100%;
    padding-bottom:64px;
    margin:auto;
}
.block_full_hero_media{
    margin:64px auto;
}
.block-text{
    margin:auto;
    text-align: center;
    padding: 64px 150px 40px;
}
.block-media img{
    width:100%;
}
.block_hero_media{
    margin:auto;
    padding-bottom:64px;
}
.block_hero_media>img{
    width:100%;
    height: auto;
}
.editorial-common{
    margin-bottom:64px;
}

.block-text, .block-media,.block_hero_media{
    max-width:1258px;
}
.block-text h2{
    margin:20px 0;
}
.editorial-block-intro{
    margin: 0 100px 20px;
    font-size:16px;
    line-height: 32px;
}
.editorial-common .editorial-block-intro a {
    text-decoration: none;
    color: #444;
    padding-bottom: 2px;
    border-bottom: 1px solid #444;
}
.product-name{
    font-family: var(--arial-fontfamily);
    line-height: 1.5384615385rem;
    font-size: 16px;
    margin: .9230769231rem 0 0 -.1538461538rem;
    display: block;
    max-width: 100%;
    word-break: break-word;
    overflow: hidden;
    font-variant:small-caps;
}
.underline{
    text-decoration: underline;
}
.black-text{
    color:#000;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
    
}